@import "../../common/styles/sass/variables";

.skill {
  width: 330px;
  background-color: $bgColorSecondary;

  display: flex;
  flex-direction: column;
  align-items: flex-start;

  padding: 30px 30px 30px 30px;

  color: #c4cfde;

  border: 1px solid #1a1d23;
  margin-bottom: 30px;

  .icon {
    width: 60px;
    height: 60px;

    background-color: $bgColorAccent;
    margin-bottom: 29px;
  }


  .content {
    color: $textColorSkill;
    .title {
      font-weight: 700;
      font-size: 24px;
      line-height: 32px;
      margin-bottom: 20px;
      color: $textColorSkill;
    }

    .description {
      font-size: 16px;
      line-height: 28px;
      font-weight: 500;
      //color: #c4cfde;
      margin-bottom: 22px;
    }
  }
}



