.mainBlock {
    height: 100vh;
    background-color: #141519;
    color: #ffffff;
}

.subtitle {
    font-size: 14px;
    color: #c4cfde;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-weight: 500;
    display: block;
    margin-bottom: 20px;
}

.about {
    width: 60%;
    font-size: 25px;
    line-height: 60px;
}

.name {
    color: #FF014F;
}

.profession {
    font-size: 40px;
    line-height: 60px;
    font-weight: 500;
}

.photo {
    background-color: #f4f0f2;
    width: 300px;
    height: 300px;
}

@media screen and (max-width: 525px) {
    .about{
        font-size: 20px;
    }
    .subtitle {
        font-size: 12px;
    }
    .profession {
        font-size: 36px;
    }
}
@media screen and (max-width: 420px) {
    .about{
        font-size: 18px;
    }
    .subtitle {
        font-size: 10px;
    }
    .profession {
        font-size: 32px;
    }
}
