.mainBlock {
    height: 100vh;
    background-color: #d58d8d;
}
.container{
    border: 1px solid;
    height: 100%;
    width: 90%;
    margin: 0 auto;

    display: flex;
    justify-content: space-around;
    align-items: center;
}
.about {
    width: 300px;
}

.photo {
    background-color: #f4f0f2;
    width: 300px;
    height: 300px;
}