$textColorPrimary: #fff;
$textColorSecondary: #a0a8b3;
$textColorAccent: #FF014F;
$textColorSkill: #c4cfde;
$textColorBtnProject: #acacac;

$bgPrimary: #141519;
$bgColorSecondary: #1c1d21;;
$bgColorAccent: #FF014F;
